#about {
  align-self: center;
  display: grid;
  justify-items: center;
  align-items: center;
}

#about .icons {
  display: flex;
  width: 50%;
  max-width: 700px;
  justify-content: space-between;
  gap: 16px;
}

#about .icons img {
  width: 6.5rem;
}

@media only screen and (max-width: 1080px) {
  #about .icons {
    width: 100%;
    padding: 12px;
    gap: 12px;
  }
  #about .icons img {
    width: 5rem;
  }
}
