#cartButton {
  cursor: pointer;
  z-index: 3;
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 18px;
  border-radius: 50%;
  background: white;
  border: 1px solid gray;
}

#cartButton img {
  width: 24px;
  height: 24px;
}

#cartButton:hover,
.active {
  box-shadow: 0px 0px 10px;
}

.totalProducts {
  position: fixed;
  bottom: 72px;
  right: 22px;
  z-index: 3;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid gray;
  color: white;
  background: rgb(0, 0, 0);
}

#cartContainer {
  z-index: 3;
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#cartDisplay {
  z-index: 3;
  display: grid;
  align-items: center;
  gap: 12px;
  position: relative;
  width: 50%;
  max-width: 800px;
  height: auto;
  min-height: 30vh;
  max-height: 70vh;
  margin-top: 25vh;
  margin-left: 25vw;
  background: rgb(240, 240, 240);
  padding: 15px 30px 15px 30px;
  border: 1px solid black;
  border-radius: 4px;
}

#cartDisplay .empty {
  padding: 24px;
}

#cartDisplay .title {
  border-bottom: 1px solid gray;
  padding: 12px 8px;
}

.cartLabels {
  display: grid;
  grid: 1fr / 1fr 1fr;
  padding: 0px 24px;
  font-weight: 600;
}

.cartLabels .price {
  justify-self: end;
}

#cartProducts {
  height: auto;
  max-height: 50vh;
  overflow: auto;
  border: 1px solid gray;
  border-radius: 4px;
  background: rgb(240, 240, 240);
}

#checkoutContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  gap: 12px;
  padding: 8px;
}

.close,
.checkout {
  background: #ededed;
  border: 1px solid #999;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
}

.close {
  background: white;
}

.checkout {
  color: white;
  background: rgb(0, 0, 0);
}

.checkout:hover {
  background: rgba(0, 0, 0, 0.714);
}

.checkout:hover,
.close:hover {
  transform: scale(1.1);
  transition: transform 0.1s;
}

.total {
  justify-self: end;
}

@media only screen and (max-width: 800px) {
  #cartDisplay {
    width: 95vw;
    min-height: 30vh;
    max-height: 75vh;
    margin-top: 10vh;
    margin-left: 2.5vw;
    background: rgb(240, 240, 240);
    padding: 15px 30px 15px 30px;
    border: 1px solid black;
    border-radius: 4px;
  }
  #cartProducts {
    overflow: scroll;
  }
}
