#main {
  display: grid;
  width: 100%;
  height: 100vh;
}

#main #content {
  width: 100%;
}

#main #footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: end;
  gap: 24px;
  padding: 8px;
}

#footer div {
  width: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#footer a {
  text-decoration: none;
  color: #000000;
}

#footer img {
  width: 20px;
  height: 20px;
}
