.product {
  display: grid;
  grid: 250px 1fr 1fr / 1fr 1fr;
  max-width: 300px;
  max-height: 400px;
  gap: 12px;
  padding: 16px;
  border: 1px solid gray;
  border-radius: 4px;
  background: white;
}

.product img {
  grid-area: 1 / 1 / 2 / 3;
  overflow: hidden;
  object-fit: contain;
  width: 250px;
  height: 250px;
  padding: 8px;
  padding-top: 16px;
  border-bottom: 1px solid gray;
  background: white;
}

.product .name {
  grid-area: 2 / 1 / 3 / 3;
  font-weight: 600;
  text-align: center;
}

.product .addToCart {
  cursor: pointer;
  color: white;
  background: black;
  padding: 2px;
  border: 1px solid gray;
  border-radius: 4px;
}

.product .addToCart:hover {
  background: rgba(0, 0, 0, 0.714);
}

@media only screen and (max-width: 1080px) {
  .product {
    grid: 200px 1fr 1fr / 1fr 1fr;
    width: 234px;
    max-height: 400px;
    gap: 12px;
    padding: 16px;
  }
  .product img {
    grid-area: 1 / 1 / 2 / 3;
    overflow: hidden;
    object-fit: contain;
    width: 200px;
    height: 200px;
    padding: 8px;
    padding-top: 16px;
  }
}

@media only screen and (max-width: 520px) {
  .product * {
    font-size: 16px;
  }
  .product {
    justify-items: center;
    align-items: center;
    grid: 100px 1fr 1fr 1fr / 1fr;
    width: 150px;
    max-height: 200px;
    padding: 0px;
    gap: 0px;
  }

  .product img {
    grid-area: 1 / 1 / 2 / 2;
    overflow: hidden;
    object-fit: contain;
    width: 100px;
    height: 100px;
    padding: 8px;
    padding-top: 16px;
  }

  .product .name {
    grid-area: 2 / 1 / 3 / 2;
  }

  .product button {
    font-size: 0.8rem;
  }
}
