#shop {
  display: grid;
  justify-items: center;
  background: rgb(240, 240, 240);
  height: 100%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 34px;
  padding-top: 60px;
  padding-bottom: 60px;
  min-width: 640px;
  max-width: 1400px;
  background: rgb(240, 240, 240);
}
